@import 'app/components/styles/_variables.scss';

@keyframes fadeIn {
	0% {
		color: black
	}
	100% {
		color: white
	}
}

.about {
	text-align: center;
	font-family: 'Nordic';
	font-size: 5vw;
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

.aboutP {
	text-align: center;
	font-family: 'Qontra';
	margin-bottom: 2em;
	font-size: 1vw;
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

.contact {
	margin-top: 1.3em;
	margin-left: 6em;
	margin-bottom: 0.3em;
	font-family: 'Nordic';
	font-size: 5vw;
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

h3 {
	text-align: center;
	font-family: 'Qontra';
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

.contactP {
	text-align: center;
	font-family: 'Qontra';
	margin-bottom: 2em;
	font-size: 1vw;
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

hr {
	width: 85%;
	float: left;
	margin-bottom: 3em;
}


@keyframes widening {
	0% {
		width: 0%
	}
	100% {
		width: 90%
	}
}
.divOne {	
	top: 36.5%;
	border: 1px solid;
	position: absolute;
	left: -1.5em;
	width: 90%;
	animation: widening;
	animation-timing-function: ease-out;
	animation-duration: 5s;
}

@keyframes widening2 {
	0% {
		width: 0%
	}
	100% {
		width: 85%
	}
}
.divTwo {
	top: 85%;
	position: absolute;
	right: 0;
	animation: widening2;
	animation-timing-function: ease-out;
	animation-duration: 5s;
}