@import 'app/components/styles/_variables.scss';

@keyframes fadeInSlow {
	0% {
		color: black
	}
	
	to {
		color: white
	}
}

@keyframes fadeIn {
	0% {
		color: black
	}
	55% {
		color: black
	}
	100% {
		color: white
	}
}

@keyframes widenIn {
	0% {
		width: 0%
	}
	55% {
		width: 0%
	}
	100% {
		width: 100%
	}
}



.home {
	overflow: hidden;
	.name {
		top: -0.6em;
		left: -17px;
		position:relative;
		font-family: 'Nordic';
		font-size: 13vw;
		color: white;
		animation: fadeInSlow;
		animation-timing-function: ease-in;
		animation-duration: 10s;
	}

	.hrDiv {
		animation: widenIn;
		animation-timing-function: cubic-bezier(0.64, 0.00, .50, 1);
		animation-duration: 12s;
	}
	hr {
		float: left;
		padding: 0;
		left: -2px;
		color: white;
		text-align: center;
		position: relative;
	}
	.hr1{
		border-top: medium double white;
		width: 72%;
		top: -15em;	
	}
	.hr2{
	    border-top: 3px double white;
	    border-bottom: medium double white;
		width: 86%;
		top: -12em;
	}
	.hr3{
		
		border: 1px solid;
		width: 58%;
		top: -9em;
	}

	p {
		position: relative;
		margin-right: 1em;
		font-size: 1.5em;
		float:right;
		animation: fadeIn;
		animation-duration: 15s;
	}
}



