@import 'app/components/styles/_variables.scss';

@keyframes fadeInSlow {
	0% {
		color: black;
		text-shadow: 0px 0px 0 black;
	}
	40% {
		text-shadow: 1px 1px 50px $offblack;
	}
	
	to {
		color: white;
		text-shadow: 1px 1px 10px white;
	}
}

@keyframes fadeIn {
	0% {
		color: black
	}
	55% {
		color: black
	}
	100% {
		color: white
	}
}

@keyframes widenIn {
	0% {
		width: 0%
	}
	100% {
		width: 100%
	}
}



.home {
	overflow: visible;
	z-index: 9999;
	.nameWrapper {
		overflow:hidden;
		.name {
			top: -0.6em;
			left: -17px;
			position:relative;
			font-family: 'Nordic';
			font-size: 13vw;
			color: white;
			text-shadow: 1px 1px 10px white;
			animation: fadeInSlow;
			animation-timing-function: ease-in;
			animation-duration: 5s;
		}
	}

	.hrDiv {
		animation: widenIn;
		animation-timing-function: cubic-bezier(0.64, 0.00, .50, 1);
		animation-duration: 6s;
		z-index: 9999;
	}
	hr {
		z-index: 9999;
		box-shadow: 10px 1px 50px white;
		float: left;
		padding: 0;
		left: -1em;
		color: white;
		text-align: center;
		position: relative;
	}
	.hr1{
		border-top: medium double white;
		border-left: white;
		width: 72%;
		top: -15em;	
	}
	.hr2{
	    border-top: 3px double white;
	    border-bottom: medium double white;
	    border-left: white;
		width: 86%;
		top: -12em;
	}
	.hr3{
		
		border: 1px solid;
		width: 58%;
		top: -9em;
	}

	p {
		position: relative;
		margin-right: 1em;
		font-size: 1.5em;
		float:right;
		animation: fadeIn;
		animation-duration: 8s;
	}
}



