@import 'app/components/styles/_variables.scss';

@keyframes fadeIn {from {color: black} to {color: white} }



.home {
	overflow: hidden;
	.name {
		top: -0.5em;
		left: -15px;
		position:relative;
		font-family: 'Nordic';
		font-size: 13vw;
		color: white;
		animation: fadeIn;
		animation-timing-function: ease-in;
		animation-duration: 1s;
	}


	hr {
		float: left;
		padding: 0;
	    border: none;
		color: white;
		text-align: center;
		position: relative;
	}
	.hr1{
	    border-top: medium double white;
	    border-bottom: medium double white;
		width: 86%;
		top: -15em;	
	}
	.hr2{
	    border-top: medium double white;
		width: 72%;
		top: -12em;
	}
	.hr3{
		border: 1px solid;
		width: 58%;
		top: -9em;
	}

	p {
		position: relative;
		margin-right: 1em;
		font-size: 1.5em;
		float:right;
	}
}



