@import 'app/components/styles/_variables.scss';

body{
	margin:0;
}

.main {
	font-family: 'Ailerons';
	.content{
		display:inline-block;
		position: relative;
		background-color: black;
		width: 85%;
		height: 100%;
		color: white;
		z-index: 0;
	}	
}

