@import 'app/components/styles/_variables.scss';

@keyframes nameanim {
    from    { opacity:0; }
    to      { opacity:1; }
}
@keyframes nameanimDelay {
    from,30%{ opacity:0; }
    to      { opacity:1; }
}

nav{
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
    line-height: 100%;

    .nameWrapper {
        float:right;
        position: absolute;
        top: 20%;
        text-align: right;
        font-family: Nordic;
        font-weight: bold;
        right: -0.3vw;


        .name1{
            float:right;
            padding-top: 2vh;
            height: 4vh;
            background-position: right;
            background-image: linear-gradient(to left, black 50%, transparent);
            color:transparent;
            -webkit-background-clip: text;
            background-clip: text;
            font-size: 2.5vw;
            animation: nameanim;
            animation-duration: 10s;

        }
        .name2{
            padding-top: 5vh;
            height: 10vh;
            margin-right: -0.1em;
            background-position: right;
            background-image: linear-gradient(to left, black 25%, transparent);
            color:transparent;
            -webkit-background-clip: text;
            background-clip: text;
            animation: nameanimDelay;
            animation-duration: 6s;
            font-size: 5vw;
        }
    }

    .navWrapper {
        text-align: right;
        position: relative;
        top: 35%;
        ul {
            margin: 0;
            margin-top: 2.3vh;
            line-height: 5.5vh;
            border: 0px;
            
            li {
                margin: 0;
                font-size: 2.5vh;
                border: 0px;
                list-style: none;
                transition: 2s;
                border-top: 0px solid white;
                border-bottom: 0px solid white;
                border-right: 0px solid black;


                .linky {
                    margin-right: 2em;
                    text-decoration: none;
                    color: $offblack;
                    transition: 1s;
                }
/*                .linky:hover::after {
                    content: '';
                    position: absolute;
                    width: 120%;
                    height: 1px;
                    background-image: linear-gradient(to left, #666 75%, transparent);
                }*/

            }
            li:hover .linky{
                text-shadow: -1px 1px 1px #000,  -1px -1px 1px #000;
                color: white;
            }
            li:hover{
                transition: 1s;
                border-right: 20px solid black;
            }

            li:hover::after {

            }

        }
    }
    z-index: 9999;
}
