@import "./_typist.scss";

@keyframes appear{
	0%, 99% { color:black; }
	to { color:white; }
}

.projects {
	height: 100%;
	width: 100%;
	font-family: Qontra;

	.startPound {
		top: -1vmin;
		position: absolute;
		left: 4vmin;
		font-size: 4vmin;
	}
	.startTypist {
		position: absolute;
		top: 2.5vmin;
		left: 8vmin;
		font-size: 4.3vmin;
	}

	.list {
		position: absolute;
		top: 8vmin;
		left: 8vmin;
		animation: appear 6.1s;
		width: 90%;
		font-size: 2vmin;
	}
	.acid, .epitopes, .synwrites {
		display: table-cell;
		margin: .5vmin;
		width: 20%;
		padding-right: 1em;
		a{
			color: white;
			animation: appear 6s;
		}
	}

	.endPound{
		position:absolute;
		font-size: 4vmin;
		left: 4vmin;
		top: 50vmin;
		animation: appear 6.3s;
	}

	.endTypist{
		position: absolute;
		top: 53vmin;
		left: 8vmin;
		font-size: 4.3vmin;
		animation: appear 6.3s;
	}
}