@keyframes fade {
	0% {
		color: black
	}
	100% {
		color: white
	}
}

.references{
	margin-left: 6vmin;

	h2{
		font-size: 10vmin;
		font-family: Nordic;
		animation: fade;
		animation-duration: 2s;
		animation-timing-function: ease-in;
	}
	div{
		font-size: 4vmin;
		font-family: Qontra;
		animation: fade;
		animation-duration: 6s;
		animation-timing-function: ease-in;
	}
}