@keyframes fade {
	0% {
		color: black
	}
	100% {
		color: white
	}
}

.work{
	margin: 4vw;
	font-size: 1.8vmin;
	.header{
		font-family: Nordic;
		font-size: 7vmin;
		text-align: center;
		animation: fade;
		animation-timing-function: ease-out;
		animation-duration: 1s;
	}
	h1{
		font-family: Qontra;
		animation: fade;
		animation-timing-function: ease-out;
		animation-duration: 3s;
	}
	h2{
		font-family: Qontra;
		animation: fade;
		animation-timing-function: ease-out;
		animation-duration: 7s;
	}
	p {
		font-family: Qontra;
		animation: fade;
		animation-timing-function: ease-out;
		animation-duration: 7s;
	}
}