// FONTS
// @font-face {
//     font-family: 'Ailerons';
//     src: local('Ailerons'), 
//     local('Aileron-Regular'), 
//     url(./fonts/Ailerons/ailerons-typeface-webfont.woff2) format('woff2'),
//     url(./fonts/Ailerons/ailerons-typeface-webfont.woff) format('woff'),
//     url(./fonts/Ailerons/ailerons-typeface-webfont.ttf) format('truetype'),
//     url(./fonts/Ailerons/Ailerons-Typeface.otf) format('opentype');
//   }
  
  
//   @font-face {
//       font-family: 'nordic';
//       src: url('./fonts/Nordic/nordic_alternative_regular-webfont.eot');
//       src: 
//            url('./fonts/Nordic/nordic_alternative_regular-webfont.woff2') format('woff2'),
//            url('./fonts/Nordic/nordic_alternative_regular-webfont.woff') format('woff'),
//            url('./fonts/Nordic/nordic_alternative_regular-webfont.ttf') format('truetype');
//       font-weight: normal;
//       font-style: normal;
  
//   }
  
//   @font-face {
//       font-family: 'Qontra';
//       src: local('Qontra'), 
//       url('./fonts/Qontra/qontra-webfont.eot') format('embedded-opentype'),
//       url('./fonts/Qontra/qontra-webfont.woff2') format('woff2'),
//       url('./fonts/Qontra/qontra-webfont.woff') format('woff'),
//       url('./fonts/Qontra/qontra-webfont.ttf') format('truetype');
//       font-weight: normal;
//       font-style: normal;
  
//   }

@font-face {
    font-family: 'SofaChrome';
    src: url(../assets/fonts/sofachrome/sofachrome_rg.otf) format('opentype'),
    url(../assets/fonts/sofachrome/sofachrome_rg_it.otf) format('opentype'),
}

@font-face {
    font-family: 'UniSans';
    src:
    url(../assets/fonts/uni-sans/Uni_Sans_Heavy.otf) format('opentype'),
    url(../assets/fonts/uni-sans/Uni_Sans_Heavy_Italic.otf) format('opentype'),
}

@font-face {
    font-family: 'UniSansThin';
    src:
    url(../assets/fonts/uni-sans/Uni_Sans_Thin.otf) format('opentype'),
    url(../assets/fonts/uni-sans/Uni_Sans_Thin_Italic.otf) format('opentype'),
}

@font-face {
    font-family: 'Ethnocentric';
    src: url(../assets/fonts/ethnocentric/ethnocentric.otf) format('opentype'),
    url(../assets/fonts/ethnocentric/ethnocentric_it.otf) format('opentype'),
}
@font-face {
    font-family: 'Antipasto';
    src: url(../assets/fonts/antipasto/AntipastoPro_trial.ttf) format('truetype'),
    url(../assets/fonts/ethnocentric/ethnocentric_it.otf) format('opentype'),
}
@font-face {
    font-family: 'LibelSuit';
    src: url(../assets/fonts/libel-suit/libel-suit-rg.otf) format('opentype'),
}

@font-face {
    font-family: 'Dosis';
    src: url(../assets/fonts/dosis/Dosis-Medium.ttf) format('truetype'),
}
  
// COLORS
$offblack	: #333;
$offwhite	: #ededed;