@import 'app/containers/styles/_variables.scss';

@keyframes fadeIn {
	0% {
		color: black
	}
	100% {
		color: white
	}
}

.about {
	text-align: center;
	font-family: 'Nordic';
	font-size: 10vh;

	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

.aboutP {
	text-align: center;
	font-family: 'Qontra';
	margin-bottom: 8vh;
	font-size: 2vh;
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

.contact {
	text-align: center;
	padding-top: 12vh;
	margin-bottom: 1vh;
	font-family: 'Nordic';
	font-size: 10vh;
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

h3 {
	text-align: center;
	font-family: 'Qontra';
	font-size: 3vh;
	margin-bottom: -1vh;
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

.contactP {
	text-align: center;
	font-family: 'Qontra';
	margin-bottom: 4vh;
	font-size: 2vh;
	animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

hr {
	width: 85%;
	float: left;
	margin-bottom: 3em;
}


@keyframes widening {
	0% {
		width: 0%
	}
	100% {
		width: 90%
	}
}
.lineOne {	
	top: 42.85vh;
	background-color: white;
	border-top: 3px solid;
	position: absolute;
	width: 90%;
	animation: widening;
	animation-timing-function: ease-out;
	animation-duration: 5s;
}

@keyframes widening1U {
	0% {
		width: 1%
	}

	100% {
		width: 20%
	}
}

.lineOneUnder {
	top: 48.7vh;
	background-color: white;
	border: 1px solid;
	position: absolute;
	width: 20%;
	animation: widening1U;
	animation-timing-function: ease-out;
	animation-duration: 5s;
}

@keyframes widening2 {
	0% , 30% {
		width: 0%
	}
	100% {
		width: 85%
	}
}
.lineTwo {
	top: 90%;
	background-color: white;
	border: 1px solid;
	position: absolute;
	right: 0;
	animation: widening2;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-duration: 5s;
}